#graph {
    border: 1px solid black;
    background: #073642;
}

.disable-selection {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.drag_line {
    stroke: #586E75;
    stroke-width: 10;
}

.link {
    stroke: #586E75;
    stroke-width: 10px;
}

.circle {
    fill: #B58900;
    stroke-width: 6px;
    stroke: #073642;
}

