#graph {
    border: 1px solid black;
    background: #073642;
}

.disable-selection {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.drag_line {
    stroke: #586E75;
    stroke-width: 10;
}

.link {
    stroke: #586E75;
    stroke-width: 10px;
}

.circle {
    fill: #fff;
    stroke-width: 6px;
    stroke: #073642;
}

.colorSelector{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin:2px;
}

#colorYellow{
    background-color: #B58900;
}#colorOrange{
    background-color: #CB4B16;
}#colorRed{
    background-color: #DC322F;
}#colorMagenta{
    background-color: #D33682;
}#colorViolet{
    background-color: #6C71C4;
}#colorBlue{
    background-color: #268BD2;
}#colorCyan{
    background-color: #2AA198;
}#colorGreen{
    background-color: #859900;
}

.colorSelected{
    border:2px solid black;
    margin:0px;
}