#modal {
    width: 360px;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    background: #93A1A1;
}

#modalContent {
    margin: 5px 20px 13px 20px;
}

.close {
    background: #073642;
    color: #FFFFFF;
    border: 0px;
    line-height: 25px;
    position: absolute;
    right: 4px;
    text-align: center;
    top: 3px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.help .close:hover {
    background: #002B36;
}

#ModalHandle {
    height: 18px;
    background-color: #657B83;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: move;
}

.colorSelector {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 2px;
}

.colorSelected {
    border: 2px solid black;
    margin: 0px;
}

#formNode {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#formNode > * {
    width: 60%;
    margin: 2px;
}

#formNode > label {
    width: 35%;
    align-self: center;
}

#formNode > textarea {
    width: 100%;
    align-self: center;
    height: 75px;
}



#formNode > div {
    width: 100%;
     text-align: center;
}

#formNode > div >input {
    margin-right: 40px;
}
